#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,1       // Internal file version
PRODUCTVERSION  1,0,0,1       // Product version
FILEFLAGSMASK   0x3fL         // Version info mask
#ifdef _DEBUG
FILEFLAGS       0x1L          // Debug build
#else
FILEFLAGS       0x0L          // Release build
#endif
FILEOS          VOS_NT_WINDOWS32 // Target OS
FILETYPE        VFT_DLL       // File type
FILESUBTYPE     VFT2_UNKNOWN  // File subtype
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // Language: English (U.S.), Charset: Unicode
        BEGIN
            // ReShade seems to use:
            VALUE "CompanyName",      "Leon Aquitaine" // Displayed as Author
            VALUE "FileDescription",  "Provides audio volume and frequency data to ReShade effects." // Displayed as Description
            VALUE "FileVersion",      "1.0.0.1"        // Displayed as Version
            VALUE "InternalName",     "Listeningway"
            VALUE "LegalCopyright",   "Copyright (C) 2025 Leon Aquitaine" // Optional
            VALUE "OriginalFilename", "Listeningway.addon"
            VALUE "ProductName",      "Listeningway"   // Displayed as Name
            VALUE "ProductVersion",   "1.0.0.1"        // Displayed as Version (often same as FileVersion)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // Language: English (U.S.), Charset: Unicode
    END
END
